.navbar{
    overflow: hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;

}

.navbar a{
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px,16px;
    text-decoration: none;

}

.dropdown{
    display: flex;
    overflow: hidden;

}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin:0;
}


.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: green;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.column{
    display: flex;
    width: 33.33%;
    padding: 10px;
    background-color: white;
    height: 250px;
}
.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.cplumn a:hover{
    background-color: white;
}
.row::after{
    content: "";
    display: table;
    clear: both;
    

}

*{
    box-sizing: border-box;

}
