.sprite{
    background: url("../images/images1.png")no-repeat;
}

.section1{
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: 0 0;

}

.section4{
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: -500px -500px;

}

.section2{
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: -500px 0px;

}

.section3{
    width: 500px;
    height: 375px;
    display: inline-block;
    background-position: 0px -500px;

}